aiohttp==3.8.4
APScheduler==3.10.1
beautifulsoup4==4.13.4
Django==5.0.9
django_environ==0.10.0
django_user_agents==0.4.0
docx2pdf==0.1.8
docxcompose==1.4.0
htmldocx==0.0.6
invoke==2.2.0
O365==2.0.31
O365==2.1.2
pdfkit==1.0.0
pyperclip==1.8.2
python_dateutil==2.8.2
python_docx==0.8.11
python_environ==0.4.54
qrcode==7.4.2
Requests==2.32.3
